In [27]:
# SYEDA ZAINAB FATIMA
# W25-PAK-INP-AI-01

In [28]:
# FORMULA EDITING(REVERSE ENGINEERING)

In [31]:
# NEWTON'S SECOND LAW

In [32]:
m = 10
a = 20
f = m*a
print(f)

200

In [33]:
# f = m*a
f = 50

m = f/a
print(m)

2.5

In [14]:
# f = m*a
f = 50
m = 20
a = f/m
print(a)

2.5

In [16]:
# constant mass
m = 10
v1 = 3
v0 = 2
t1 = 5
t0 = 2
f = m*(v1-v0/t1-t0)
print(f)

6.000000000000001

In [17]:
# constant mass
v1 = 3
v0 = 2
t1 = 5
t0 = 2
f = 20
m = f/(v1-v0/t1-t0)
print(m)

33.33333333333333

In [24]:
v1 = 3
v0 = 5
t1 = 3
t0 = 2
m = 10
f = 15
# m*v1 - m*v0 = f*t1 -f*t0
# m*v1 = f*t1 -f*t0 + m*v0
v1 = (f*t1 -f*t0 + m*v0)/m
print(v1)

6.5

In [26]:
v1 = 3
t1 = 3
t0 = 8
m = 15
f = 15
# m*v1 - m*v0 = f*t1 -f*t0
# m*v0 = m*v1 - f*t1 -f*t0
v0 = (f*t1 -f*t0 + m*v0)/m
print(v0)

1.5

In [20]:
# different mass
v1 = 3
v0 = 2
t1 = 5
t0 = 2
m1 = 5
m0 = 6
f = (m1*v1 - m0*v0) /(t1-t0)
print(f)

1.0

In [22]:
# f = (m1*v1 - m0*v0) /(t1-t0)
# ft1-fto = (m1*v1 - m0*v0)
# ft1 = (m1*v1 - m0*v0) + ft0
v1 = 3
v0 = 5
t0 = 7
m1 = 5
f = 10
m0 = 6
t1 = ((m1*v1 - m0*v0) + f*t0)/ f
print(t1)

5.5

In [23]:
# f = (m1*v1 - m0*v0) /(t1-t0)
# ft1-fto = (m1*v1 - m0*v0)
# ft0 = ft1 - (m1*v1 - m0*v0)
v1 = 4
v0 = 5
t1 = 5
m1 = 15
f = 10
m0 = 6
t0 = ((m1*v1 - m0*v0) + f*t1)/ f
print(t1)

5